body {
  background-image: url("./components/wood2.jpg");
  width: 100vw;
  height: 100vh;
  background-size: 100vw 100vh;
}
.appContainer {
  background-image: url("./components/book.png");
  width: 100vw;
  height: 100vh;
  background-size: 1140px 100vh;
}
.appMobileContainer {
  background-color: lightgray;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}
.navContainer {
  width: 400px !important;
  margin-left: 80px !important;
  height: 75vh;
  position: fixed;
  margin-right: 100px !important;
  border: 200px solid transparent;
  border-image: url("./components/border.png") 1000 stretch;
}
.navMobileContainer {
  width: 90vw !important;
  height: 10vh !important;
  margin-top: 160px;
  margin-left: 200px !important;
}
.navBar {
  margin-top: -10rem;
  margin-left: -12rem;
}
.navLogo {
  width: 40px !important;
  height: 40px !important;
}
.landingDiv1 {
  padding-top: 10vh !important;
}
.dice {
  margin-left: 90px !important;
  margin-top: 150px;
  width: 400px !important;
  height: 400px !important;
}
.spellDropdown {
  margin-left: 45rem;
  margin-top: -20rem;
}
.spellMenu {
  overflow-y: scroll !important;
  height: 20vh;
}
.classJumbo {
  width: 450px;
  margin-left: 570px;
  margin-top: -550px;
  height: 730px;
  overflow-y: scroll;
  border: 25px solid transparent;
  border-image: url("./components/rope.png") 50 round;
  background-color: transparent !important;
}
.classJumboMobile {
  width: 85vw !important;
  height: 80vh !important;
  overflow-y: scroll;
  margin-top: 20px;
  margin-left: -15px;
}
.dropdownDivMobile {
  padding-top: 40vh;
  padding-left: 35vw;
}
.classTitle {
  width: 300px;
  height: 150px;
  background-image: url("./components/Title.png") !important;
  background-size: 300px 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 5vh;
}
.subTitle {
  margin-top: 20px;
}
